<div class="row">
    <div class="col-sm-3 ">
        <h2>Total cases</h2>
        <div class="chart-wrapper">
            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [colors]="doughnutChartColors">
            </canvas>
        </div>
    </div>
    <div class="col-sm-3 ">
        <h2 class="">Active Cases</h2>
        <div class="chart-wrapper">
            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [colors]="doughnutChartColors">
            </canvas>
        </div>
    </div>
    <div class="col-sm-3 ">
        <h2 class="">Recovered</h2>
        <div class="chart-wrapper">
            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [colors]="doughnutChartColors">
            </canvas>
        </div>
    </div>
    <div class="col-sm-3 ">
        <h2 class="">Deaths</h2>
        <div class="chart-wrapper">
            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [colors]="doughnutChartColors">
            </canvas>
        </div>
    </div>
</div>